.text-ct{
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.feedback_content{

}
.self-textarea{
  padding: 10px 0;
  min-height: 140px;
}
.singleImg{
  width: 20%;
}
.add{
  font-weight: bold;
  border: 6px dashed #a8a8aa;
  border-radius: 12px;
  font-size: 50px;
  text-align: center;
  width: 105px;
}