/************************************
 *
 *  Main Styles to compile. Here only @imports!
 *
 ************************************/

/**
 * BASE
 */

@import "base/_variables";
@import "base/_common";
@import "base/_reset";
@import "base/_grid";
@import "base/_fonts";
@import "home";
@import "login";
@import "workOn";
@import "overtimeApply";
@import "feedback";
@import "myTask";
@import "storageList";
@import "subStorageList";
@import "lossReport";
@import "scanList";
@import "personalInfo";
.fullPage{
  width: 100%;
  height: 100%;
}
.hfull{
  height: 100%;
}
.tc{
  text-align: center!important;
}
.c-white{
  color: white!important;
}
.bg-c-white{
   background-color: white;
 }
.bg-c-f0f0f2{
  background-color: #f0f0f2;
}
.fr{
  float: right;
}
.fl{
  float: left;
}
.pad10{
  padding: 10px;
}
.mgt10{
  margin-top: 10px;
}
.dpib{
  display: inline-block;
}
.a8a8aa{
  color: #a8a8aa;
}
.fwb{
  font-weight: bold;
}