.myTask_select {
  padding: 0 1rem!important;
  height: 20px;
  margin-top: 6px;
  position: absolute;
}

.bar-subheader_detail{

}
.detail_img{
  width: 15%;
  margin-left: 3%;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 80px;
}
.storage_address{
  margin-top: 40px;
  margin-left: 4%;
  font-size: 20px;
  font-weight: bold;
}