/**
 * Define variables here
 */

$textColor: #ccc;

/**
 * color
 */
$color-con-z:#efefef;
$color-blue-z:#0099ff;
$color-white-z:#ffffff;
$color-black-z:#5a5a5a;
$color-gray-z:#d8d8d8;
$color-bg-z:#ebebeb;
$color-tfont-z:#7d7d7d;
$color-tbg-z:#a4a4a4;
$color-orange-z:#ff6a19;
$color-btn-z:#eaeaea;
$color-border-z:#cccccc;
