<ion-view>
    <ion-header-bar align-title="left" class="self-bar mainColor">
        <div class="back-button buttons"  ng-click="goback()">
            <i class="icon ion-chevron-left fl backBtn"></i>
        </div>
        <h1 class="title tc c-white">添加反馈</h1>
    </ion-header-bar>
    <ion-content class="bg-c-f0f0f2 fullPage dc">
        <div class="feedBack_content pad10">
            <label class="item item-input">
                <input type="text" placeholder="请输入标题" ng-model="data.title">
            </label>
            <label class="item item-input mgt10">
                <textarea type="text" class="self-textarea" placeholder="请输入要反馈的信息" ng-model="data.content"></textarea>
            </label>
        </div>
        <div class="imgList pad10" style="margin-bottom: 100px">
            <div class="list">
                <div class="dpib item singleImg imgHover" ng-repeat="img in imageList" ng-click="delImg($index)" ng-style="{'height':'{{height}}px'}">
                    <img src="{{img||'imgs/noImg.png'}}" width="100%">
                </div>
                <div class="singleImg icon ion-plus-round add item a8a8aa dpib"  on-tap="getPictures()" ng-style="{'height':'{{height}}px','line-height':'{{height-40}}px'}"></div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="self-bar mainColor" ng-click="commit()">
        <h1 class="title tc c-white">提交</h1>
    </ion-footer-bar>
</ion-view>

