<ion-view>
    <ion-header-bar align-title="left" class="self-bar mainColor">
        <div class="headerBtnDiv buttons">
            <img src="imgs/user.svg" class="headerBtn"/>
        </div>
        <h1 class="title tc c-white">乐享家-养护端</h1>
        <div class="headerBtnDiv buttons">
            <img src="imgs/sca.svg" class="headerBtn"/>
        </div>
    </ion-header-bar>
    <ion-content class="content-margin">
        <!--<ion-scroll class="hfull">-->
            <ion-slide-box active-slide="myActiveSlide" class="self-slide">
                <ion-slide>
                    <div class="box blue"><h1>BLUE</h1></div>
                </ion-slide>
                <ion-slide>
                    <div class="box yellow"><h1>YELLOW</h1></div>
                </ion-slide>
                <ion-slide on-slide-changed="slideHasChanged(index)">
                    <div class="box pink"><h1>PINK</h1></div>
                </ion-slide>
            </ion-slide-box>
            <div class="home-router">
                <ul>
                    <li><img src="imgs/9.png" class="headerBtn"/><div>我的任务</div></li>
                    <li><img src="imgs/8.png" class="headerBtn"/><div>我要加班</div></li>
                    <li><img src="imgs/7.png" class="headerBtn"/><div>我要反馈</div></li>
                    <li><img src="imgs/5.png" class="headerBtn"/><div>扫码盘点</div></li>
                    <li><img src="imgs/6.png" class="headerBtn"/><div>我要请假</div></li>
                    <li><img src="imgs/4.png" class="headerBtn"/><div>复状报损</div></li>
                </ul>
            </div>
        <!--</ion-scroll>-->
    </ion-content>
</ion-view>