<ion-view>
    <ion-content class="mainColor fullPage">
        <form class="form-horizontal" role="form" name="login_form" novalidate>
            <div class="middleHeight">
                <div class="login-header">
                    乐享家园林
                </div>
                <div>
                    <label class="item item-input self-item">
                        <i class="form-icon">
                            <img src="imgs/10.png">
                        </i>
                        <input type="text" bsy-form-validate="userPhoneErrorTips"
                               class="form-control input-z" ng-model="loginInfo.phone" name="user_phone"  required placeholder="账号">
                    </label>
                    <label class="item item-input self-item">
                        <i class="form-icon">
                            <img src="imgs/11.png">
                        </i>
                        <input  type="password" bsy-form-validate="userPwdErrorTips"
                                class="form-control input-z" ng-model="loginInfo.password" name="user_password" required placeholder="密码">
                    </label>
                </div>
                <div class="padding button-bar">
                    <button class="btn-one-z button button-positive btnC btn-flex" check-form ng-click="loginSubmit(loginInfo)">登录</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>