<ion-view>
    <ion-header-bar align-title="center" class="self-bar mainColor">
        <div class="headerBtnDiv buttons">
            <i class="icon ion-chevron-left back_icon"></i>
        </div>
        <h1 class="title task_title">复壮报损</h1>
    </ion-header-bar>
    <ion-content class="content-margin">
        <ul class="list">
            <li class="item_tr">
                <div class="item_tr_left">1122222222(绿萝)。。。。。。。。。。</div>
                <div class="item_tr_right">2016-05-05</div>
            </li>
            <li class="item_tr">
                <div class="item_tr_left">1122222222(绿萝)。。。。。。。。。。</div>
                <div class="item_tr_right">2016-05-05</div>
            </li>
        </ul>

    </ion-content>
    <div class="bar bar-footer ">
        <div class="title">新建</div>
    </div>
</ion-view>