<ion-view>
    <ion-header-bar align-title="center" class="self-bar mainColor">
        <div class="headerBtnDiv buttons" ng-click="goback()">
            <i class="icon ion-chevron-left back_icon"></i>
        </div>
        <h1 class="title task_title">我的任务</h1>
        <select class="myTask_select button fr"  ng-model="allDays" ng-change="select_()">
            <option value="1">本周</option>
            <option value="0">今天</option>
        </select>
    </ion-header-bar>
    <div class="bar bar-subheader task_time_desc">
      <h3 class="title">未完成工时：{{unfinished}}小时&nbsp;&nbsp;&nbsp;&nbsp;已完成工时：{{finished}}小时</h3>
    </div>
    <ion-content class="content-margin" style="margin-top:50px ">
        <ul class="list">
            <li class="item task_item scanList_item" ng-repeat="item in works" ui-sref="">
                <div class="fl item_width item_image"><img src="{{item.picUrl}}"/></div>
                <div class="fr item_center_sub">
                    <div class="item_title"><span class="fl">{{item.stockroomName}}</span></div>
                    <div class="item_text">未完成工时{{item.workTime-item.finishWorkTime}}小时</div>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>